* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

:root {
    --black1: #222;
    --black2: #999;
    --blue: #287bff;
    --grey: #f5f5f5;
    --white: #fff;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    background: var(--blue);
    border-left: 10px solid var(--blue);
    height: 100%;
    overflow: hidden;
    position: fixed;
    transition: 0.5s;
    width: 300px;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.navigation ul li {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    list-style: none;
    position: relative;
    width: 100%;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    color: var(--white);
    display: flex;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    display: block;
    height: 60px;
    min-width: 60px;
    line-height: 70px;
    position: relative;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    content: '';
    height: 50px;
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    background: transparent;
    border-radius: 50%;
    bottom: -50px;
    box-shadow: 35px -35px 0 10px var(--white);
    content: '';
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
}

/* principal */
.principal {
    background: var(--white);
    left: 300px;
    min-height: 100vh;
    position: absolute;
    transition: 0.5s;
    width: calc(100% - 300px);
}

.principal.active {
    left: 80px;
    width: calc(100% - 80px);
}

.topbar {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}

.toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 2.5em;
    height: 60px;
    justify-content: center;
    position: relative;
    top: 0;
    width: 60px;
}

.search {
    margin: 0 10px;
    position: relative;
    width: 400px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    border: 1px solid var(--black2);
    border-radius: 20px;
    font-size: 18px;
    height: 40px;
    outline: none;
    padding: 5px 20px 0 35px;
    position: relative;
    width: 100%;
}

.search label ion-icon {
    font-size: 1.2em;
    left: 10px;
    position: absolute;
    top: 0;
}

.user {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}

.user img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}